@media screen and (max-width: 1300px) {
    .nav {
        padding: 0px 15px;
        padding-top: 47px;
    }
}
@media screen and (max-width: 1200px) {
    .nav {
        padding: 0px 5px;
        padding-top: 47px;
    }
}
@media screen and (max-width: 1024px) {
    .nav a {
        display: none;
    }
    .electronics__image, .computers__image, .appliances__image, .repairs__image, .house__image, .auto__image {
        display: none;
    }
}