@media screen and (max-width: 1300px) {
    .nav {
        padding: 0px 15px;
        padding-top: 47px;
    }
}
@media screen and (max-width: 1200px) {
    .nav {
        padding: 0px 5px;
        padding-top: 47px;
    }
}
@media screen and (max-width: 1024px) {
    .nav a {
        display: none;
    }
    .electronics__image, .computers__image, .appliances__image, .repairs__image, .house__image, .auto__image {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .first_line, .second_line {
        flex-flow: column nowrap;
        height: 717px;
    }
    .electronics, .computers, .appliances, .repairs, .house, .auto {
        width: 100%;
        height: 239px;
        flex-flow: column nowrap;
        justify-content: center;
        border: none;
    }
    .electronics__image, .computers__image, .appliances__image, .repairs__image, .house__image, .house__image, .auto__image {
        opacity: 1;
        display: block;
    }
    .electronics, .appliances, .house {
        background-color: #4285F4;
    }
    .computers, .repairs, .auto {
        background-color: #F44242;
    }
    footer {
        background-color: white;
        height: 107px;
    }
    .list__first, .list__second {
        opacity: 1;
    }
    .list__header {
        margin-bottom: 0;
    }
    .electronics:hover .list__header, .computers:hover .list__header, .appliances:hover .list__header, .repairs:hover .list__header, .house:hover .list__header, .auto:hover .list__header {
        margin-bottom: 0;
    }
    .electronics__list, .computers__list, .appliances__list, .repairs__list, .house__list, .auto__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}